:root {
      /* Tamaño del halo de luz */
      --r1: 80px;   /* Núcleo más claro */
      --r2: 70%;  /* Borde suavizado */
    }
body {
  font-family: "system-ui", sans-serif;
  background-color: #121212;
  box-shadow: #343a40 0px 0px 20px 0px;
  background-image:
        radial-gradient(circle at 50% 50%,
          rgba(255,255,255,0.35) 0px,
          rgba(255,255,255,0.20) var(--r1),
          rgba(255,255,255,0.00) var(--r2)
        );
      box-shadow: 0 10px 40px rgba(0,0,0,0.65) inset;
  }
  
  #header {
    /* background-color: #343a40; */
    background-image:url(assets/img/fondo.jpg);
    
    position: relative;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  header h1 {
    color:beige;
    font-size: clamp(25px, 3vw, 90px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    -webkit-text-stroke: 0.03em black; /* Delineado de 2px de grosor y color negro */
    max-width: 100%;
    line-height: 1.2;
  }
  .card-body {
    background-color: #121212;
    height: max-content;
  }
  .subtitulo {
    color:beige;
    font-size: clamp(15px, 3vw, 48px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 0.03em black;
    max-width: 100%;
    line-height: 1.2;
  }
 section h2 {
  color: lightblue;
 }
 .list-group-item {
  color: lightblue;
  border: darkgrey;
 }
  .card-title {
    font-weight: bold;
    color: lightblue;
  }
  .card-imag-top {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    overflow-y:auto ;
  }
  .card-text {
    color: lightblue;
  }
  label {
    color:lightblue;
  }
  footer {
    background-color: #343a40;
  }
  
  footer p {
    margin: 0;
  }
  
  #contacto form {
    max-width: 600px;
    margin: 0 auto;
  }

  .skill-card {
    text-align: center;
    margin: 20px;
}
.skill-card img {
    width: 80px;
    height: 80px;
}
.skill-card h5 {
    margin-top: 10px;
    font-size: 18px;
}
h5 {
  color: lightblue;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px; /* Espacio desde la parte inferior */
  right: 20px; /* Espacio desde la derecha */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.whatsapp-float img {
  width: 60px; /* Tamaño del ícono */
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
}
.foto {
    width: 100%;
    height: auto ;
    border-radius:10% ;
    box-shadow: #212529 0px 0px 20px 0px;
    position: relative;
}
.titulo {
  display: flex; /* Aplica Flexbox */
  flex-direction: row; /* La imagen y el texto estarán en fila (horizontal) */
  align-items: center; /* Alinea verticalmente al centro */
  justify-content: center; /* Deja espacio entre la imagen y el texto */
  flex-wrap: wrap; 
}
.cont{
  width: 30%;
  min-width: 100px;
  height:auto;
}
.cont2{
  width: 70%;
  height: auto;
}
.text-indent {
  text-indent: 30px;
}
#header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 120px;
  pointer-events: none;
  /* Degradado de transición entre el fondo del header y el body */
  background: linear-gradient(
    to bottom,
    rgba(52, 58, 64, 0) 0%,
    #212529 100%
  );
  z-index: 2;
}